src/main/java/one/empty3/library/shader/functions.dtd


<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!DOCTYPE compute [

 <!ELEMENT vec (double | vec | function)*>

 <! ATTLIST vec (length) 

 <!ELEMENT double (#CDATA) >

 <!ELEMENT function (name, args, def)>

 <!ELEMENT name (#CDATA)>

 <!ELEMENT args (arg)*>

 <!ELEMENT arg (name, class) >

 <!ELEMENT def (instructions| return| errorcase >

<!ELEMENT class (name) >

<! ELEMENT instructions (instructions| instruction) >
<! ELEMENT instructions (conditions|instructions) >
]>
