src/main/java/one/empty3/library/shader/functions.dtd


<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!DOCTYPE compute [

 <!ELEMENT vec (double | vec | function)*>

 <! ATTLIST vec (length) 

 <!ELEMENT double (#CDATA) >

 <!ELEMENT function (name, args, def)>

 <!ELEMENT name (#CDATA)>

 <!ELEMENT args (arg)*>

 <!ELEMENT arg (name, class) >

 <!ELEMENT def (instructions| return| errorcase) >

<!ELEMENT class (name) >

<! ELEMENT instruction (methodinvoke) >
<! ELEMENT methodinvoke(objectinstance|methodname|parameters) >
<! ELEMENT objectinstance 
<! ELEMENT methodname #CDATA
<! ELEMENT parameters (methodinvoke|scalar|memberdata)*>
<! ELEMENT scalar #CDATA
<! ELEMENT memberdata (objectinstance|membername) >
<! ELEMENT membername #CDATA
<! ELEMENT instructions (conditions|instructions|instruction)* >
<! ELEMENT 
]>
